# --- iTools symlinks ---
# Development is so much easier if we symlink these from iTools
bin/manifest
lib/perl5/HashRef
lib/perl5/iTools

# --- place to hide away older files ---
.archive

# --- dirs generated during testing ---
/tmp
/var
